In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_validate
from sklearn.metrics import mean_squared_error
from math import sqrt
from  sklearn.metrics.pairwise import pairwise_distances
from tensorflow.keras import Sequential
import scipy.sparse as sp
from scipy.sparse.linalg import svds
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.keras import Sequential

ModuleNotFoundError: No module named 'sklearn.keras'

In [64]:
pd.options.mode.chained_assignment = None

In [29]:
dp = pd.read_csv('Data/ratings.csv')

In [77]:
n = 10000
df = dp[:n]
n_users = len(df['userId'].unique())
n_movies = len(df['movieId'].unique())

In [78]:
df.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [79]:
df.shape

(10000, 4)

In [105]:
movie_ids = df['movieId'].unique()

df['movieId'] = df['movieId'].apply(scale_movie_id)
df.head()

   userId  movieId  rating   timestamp
0       1        1     5.0  1147880044
1       1        2     3.5  1147868817
2       1        3     5.0  1147868828
3       1        4     5.0  1147878820
4       1        5     3.5  1147868510

In [106]:
train_data, test_data = train_test_split(df, test_size=0.2)

scaled = StandardScaler()

train_data_scaled = scaled.fit_transform(train_data)
test_data_scaled = scaled.transform(test_data)

In [112]:
train_data_matrix = np.zeros((n_users, n_movies))
for line in train_data.itertuples():
    train_data_matrix[line[1] - 1, line[2] - 1] = line[3]
    
test_data_matrix = np.zeros((n_users, n_movies))
for line in test_data.itertuples():
    test_data_matrix[line[1] - 1, line[2] - 1] = line[3]

In [113]:
user_similarity = pairwise_distances(train_data_matrix, metric='cosine')
item_similarity = pairwise_distances(train_data_matrix.T, metric='cosine')
content_based_similarity = ''

In [109]:
def k_fract_mean_predict(top):
    top_similar = np.zeros((n_users, top))
    
    for i in range(n_users):
        user_sim = user_similarity[i]
        top_sim_users = user_sim.argsort()[1:top + 1]

        for j in range(top):
            top_similar[i, j] = top_sim_users[j]
            
    abs_sim = np.abs(user_similarity)
    pred = np.zeros((n_users, n_movies))
    
    for i in range(n_users):
        indexes = top_similar[i].astype(np.int)
        numerator = user_similarity[i][indexes]
        
        mean_rating = np.array([x for x in train_data_matrix[i] if x > 0]).mean()
        diff_ratings = train_data_matrix[indexes] - train_data_matrix[indexes].mean()
        numerator = numerator.dot(diff_ratings)
        denominator = abs_sim[i][top_similar[i].astype(np.int)].sum()
        
        pred[i] = mean_rating + numerator / denominator
        
    return pred

def k_fract_mean_predict_item(top):
    top_similar = np.zeros((n_movies, top))
    
    for i in range(n_movies):
        movie_sim = item_similarity[i]
        top_sim_movies = movie_sim.argsort()[1:top + 1]
        
        for j in range(top):
            top_similar[i, j] = top_sim_movies[j]
    
    abs_sim = np.abs(item_similarity)
    pred = np.zeros((n_movies, n_users))
    
    for i in range(n_movies):
        indexes = top_similar[i].astype(np.int)
        numerator = item_similarity[i][indexes]
        
        diff_ratings = train_data_matrix.T[indexes] - train_data_matrix.T[indexes].mean()
        numerator = numerator.dot(diff_ratings)
        denominator = abs_sim[i][top_similar[i].astype(np.int)].sum()
        denominator = denominator if denominator != 0 else 1
        
        mean_rating = np.array([x for x in train_data_matrix.T[i] if x > 0]).mean()
        mean_rating = 0 if np.isnan(mean_rating) else mean_rating
        pred[i] = mean_rating + numerator / denominator
                
    return pred.T

In [114]:
u, s, vt = svds(train_data_matrix, k=10)
s_diag_matrix = np.diag(s)

X_pred = np.dot(np.dot(u, s_diag_matrix), vt)

print('User-based CF MSE: ' + str(mean_squared_error(X_pred, test_data_matrix)))

User-based CF MSE: 0.3371445881385398

In [ ]:
model = Sequential()